* {
	font-family:Trebuchet MS;
}
code {
	font-family:Lucida Console;
}
body {
	background-color: #222222;
	color: #D2D2D2;
}
h1 {
	color: #D2D2D2;
}
hr {
	border-color: #555555;
    margin-top: 25px;
    margin-bottom: 25px;
	max-width: 820px;
}
a:link {
    color: #AAD2D2;
}
a:visited {
    color: #D2D2AA;
}
.preload {
	display: none;
}
.desc_container {
	max-width: 820px;
}
.descriptor {
	background-color: #555555;
	max-width: 262px;
	max-height: 262px;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
.descriptor:hover {
	max-width: 518px;
}
.descriptor a {
	display: inline-block;
	background-size: 100%;
	margin: 3px;
	width: 256px;
	height: 256px;
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}
.body {
	max-width: 820px;
}
.blocks {
	max-width: 820px;
	align: center;
	text-align: center;
}
.blocks a {
	display: inline-block;
	background-color: #555555;
	background-size: 100%;
	margin: 3px;
	width: 256px;
	height: 256px;
	-webkit-transition: background-image 0.2s ease-in-out;
	-moz-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	-o-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}
.blocks a:hover {
	display: inline-block;
	background-color: #555555;
	margin: 1px;
	width: 260px;
	height: 260px;
}
.blocks a.cv {
	background-image: url( images/cv.png );
}
.blocks a.cv:hover {
	background-image: url( images/cv_over.png );
}
.blocks a.email {
	background-image: url( images/email.png );
}
.blocks a.email:hover {
	background-image: url( images/email_over.png );
}
.blocks a.linkedin {
	background-image: url( images/linkedin.png );
}
.blocks a.linkedin:hover {
	background-image: url( images/linkedin_over.png );
}
.blocks a.tumblr {
	background-image: url( images/tumblr.png );
}
.blocks a.tumblr:hover {
	background-image: url( images/tumblr_over.png );
}
.blocks a.youtube {
	background-image: url( images/youtube.png );
}
.blocks a.youtube:hover {
	background-image: url( images/youtube_over.png );
}
.blocks a.github {
	background-image: url( images/github.png );
}
.blocks a.github:hover {
	background-image: url( images/github_over.png );
}
.blocks a.video_rendering {
	background-image: url( images/video_rendering.png );
}
.blocks a.video_rendering:hover {
	background-image: url( images/video_rendering_over.png );
}
.divider{
    width:100px;
    height:auto;
    display:inline-block;
}